<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="{{ config.site_description }}" />

    <title>{{ config.site_name }} - {{ title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />

    {% if config.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ config.google_analytics }}');
    </script>
    {% endif %}
  </head>

  <body id="index">
    <section id="header">
      <header id="banner">
        <h1><a href="/">{{ config.site_name }}</a></h1>
      </header>
      <nav id="menu">
        <ul>
            {% for page in pages %}
            <li><a href="/pages/{{ page.document_url }}">{{ page.metadata.title }}</a></li>
            {% endfor %}
        </ul>
      </nav>
    </section>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <footer>
        <address id="about">
            &copy; 2019 {{ config.site_name }}
        </address>
    </footer>
  </body>
</html>