<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Livvic:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body id="index">
    <section id="header">
      <header id="banner">
        <h1><a href="/">Catalin Codreanu</a></h1>
      </header>
      <nav id="menu">
        <ul>
          <li><a href="#">Hello</a></li>
        </ul>
      </nav>
    </section>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
      <address id="about">
        &copy; 2019 Catalin Codreanu
      </address>
    </footer>
  </body>
</html>