{% extends 'base.html' %}

{% block content %}
<ol id="post-list">
    {% for post in posts %}
    <li>
        <article class="hentry">
            <header>
                <h2 class="index-entry-title"><a href="/posts/{{ post.document_url }}">{{ post.metadata.title }}</a></h2><span class="post-info"> &mdash; {{ post.metadata.date.strftime('%Y-%m-%d') }}</span>
            </header>
            {% if post.metadata.tags %}
            <div class="tags">
                {% for tag in post.metadata.tags %}
                #{{ tag }}
                {% endfor %}
            </div>
            {% endif %}
        </article>
    </li>
    {% endfor %}
</ol>
{% endblock %}