:root {
    --link-color: rgb(0, 84, 180);
    --new-black-color: #111;
    --text-in-body: #333;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section

body {
    color: #111;
    
    font-weight: 400;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: var(--link-color);
}

pre {
    margin: 0;
}

#header {
    width: 50em;
    margin: 0 auto;
    padding-bottom: 4em;
    height: 2em;
}

#banner {
    width: 50%;
    float: left;
}

#banner a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #111;
    text-decoration: none;
}

#menu {
    width: 50%;
    float: right;
    text-align: right;
}

#index {
    padding: 40px 0;
}

#content {
    width: 50em;
    margin: 0 auto;
}

.post-info {
    margin: 20px 0 40px 0;
    color: #aaa;
}

.hentry .post-info {
    margin: 0;
    color: #aaa;
}

.entry-content {
    line-height: 1.8;
    color: var(--text-in-body);
}

.entry-content p {
    margin-bottom: 1rem;
}

.entry-title {
    font-weight: 900;
    font-size: 3rem;
    color: #111;
    letter-spacing: -1px;
}

.index-entry-title {
    display: inline;
}

.index-entry-title > a {
    font-weight: normal;
}

.codehilite {
    font-family: consolas, monospace;
    border: 1px solid #eee;
    padding: 1rem;
    margin: 1em 0;
    overflow: auto;
}

.codehilite > code {
    font-family: consolas, monospace;
}

.entry-content p > code {
    background: rgb(243, 243, 243);
}

#post-list li {
    padding: 2em 0;
    border-bottom: 1px dashed #eee;
}

#post-list li:first-child {
    padding-top: 0;
}

.tags {
    color: #aaa;
    text-decoration: none;
}

#about {
    text-align: center;
    color: #aaa;
    font-style: normal;
    padding-top: 3em;
}

@media (max-width: 50em) {

    #content,
    #header {
        width: 100%;
        margin: 0;
    }

    #content>* {
        padding: 0 1rem;
    }

    #banner {
        width: 100% !important;
        text-align: center;
    }

    #menu {
        width: 100% !important;
        text-align: center;
    }

    .entry-title {
        font-size: 2rem;
    }

    .index-entry-title {
        display: block;
    }
}

.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #ffffff; }
.codehilite .c { color: #888888 } /* Comment */
.codehilite .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.codehilite .k { color: #008800; font-weight: bold } /* Keyword */
.codehilite .o { color: #333333 } /* Operator */
.codehilite .ch { color: #888888 } /* Comment.Hashbang */
.codehilite .cm { color: #888888 } /* Comment.Multiline */
.codehilite .cp { color: #557799 } /* Comment.Preproc */
.codehilite .cpf { color: #888888 } /* Comment.PreprocFile */
.codehilite .c1 { color: #888888 } /* Comment.Single */
.codehilite .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.codehilite .s { background-color: #fff0f0 } /* Literal.String */
.codehilite .na { color: #0000CC } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003366; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #880000; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #997700; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #007700 } /* Name.Tag */
.codehilite .nv { color: #996633 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.codehilite .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.codehilite .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.codehilite .sc { color: #0044DD } /* Literal.String.Char */
.codehilite .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.codehilite .sd { color: #DD4422 } /* Literal.String.Doc */
.codehilite .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.codehilite .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.codehilite .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.codehilite .si { background-color: #eeeeee } /* Literal.String.Interpol */
.codehilite .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.codehilite .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.codehilite .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.codehilite .ss { color: #AA6600 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.codehilite .vc { color: #336699 } /* Name.Variable.Class */
.codehilite .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #3333BB } /* Name.Variable.Instance */
.codehilite .vm { color: #996633 } /* Name.Variable.Magic */
.codehilite .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
